#edit p {
  text-align: center;
}
#edit label {
  margin: 0 0.5em 0 0;
}
#edit i {
  font-size: 2em;
}
#edit button.btn.btn-normal{
  font-weight: bold;
  color: #1EA8B5;
  border-color: #1EA8B5;
}
#edit button.btn.btn-normal:hover{
  background-color: #95DFD6;
  border-color: #95DFD6;
}