body#signup {
  overflow: hidden;
}

#signup .button_2 {
  font-weight: bold;
  color: #208DC3;
  border-color: #208DC3;
  border-width: 5px;
  margin-left: 150px;
  margin-bottom: 30px;
  width: 130px;
}

#signup .button_2:hover {
  background-color: #208DC3;
  border-color: #208DC3;
}

#signup .create-header h1{
  margin-right: 35px;
  margin-top: 18px;
  margin-bottom: 30px;
  text-align: center;
}

#signup p {
  font-size: 30px;
  margin-bottom: -10px;
  margin-left: -25px;
  text-align: center;
}

#signup h1 {
  font-family: 'Fredoka One', cursive;
  font-size: 60px;
}

#signup i {
  font-size: 3em;
  margin-right: -75px;
}

#signup .forms {
  width: 100%;
  display: flex;
  align-items: center;
  height: 105px;
  flex-wrap: wrap;
  align-content: center;
}

#signup .main-body { 
	width: 620px;
	margin: 0 auto;
}

#signup .main-body input[type='text'],
#signup .main-body input[type='password'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
  padding: 1em; 
	transition: 0.3s;
	letter-spacing: 5px;
	color: #474d52;
	border: 5px solid #1b2538;
	border-radius: 4px;
  text-align: center;
  height: auto;
}
